<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Main configuration file -->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">
            jdbc:sqlserver://localhost:1433;databaseName=kotab;trustServerCertificate=true
        </property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">@Aa01102137154</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="entities.files.Address"/>
        <mapping class="entities.files.MemorizationTeacher"/>
        <mapping class="entities.files.Student"/>
        <mapping class="entities.files.MemorizationGroup"/>
        <mapping class="utilities.Surah"/>
        <mapping class="entities.entries.RecitationInfo"/>
        <mapping class="entities.entries.RecitationInfoWithGrade"/>
        <mapping class="entities.entries.RecitationEntry"/>
        <mapping class="entities.files.GroupLevel"/>
        <mapping class="entities.details.AbsGroupLevelDetail"/>
        <mapping class="entities.details.GroupLevelDetail"/>
        <mapping class="entities.details.GroupLevelRevisionDetail"/>
        <mapping class="entities.files.AnsarUser"/>
        <mapping class="entities.entries.AbsenceEntry"/>
        <mapping class="entities.documents.ReceiptVoucher"/>
        <mapping class="entities.documents.PaymentVoucher"/>
        <mapping class="entities.documents.Membership"/>

    </session-factory>
</hibernate-configuration>